body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 250px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
.contact-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input, 
.form-group textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-group textarea {
    height: 150px;
}
.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        padding: 20px;
    }

    header ul {
        justify-content: center;
    }

    header ul li a {
        margin: 0 20px;
    }

    .container {
        padding: 10px;
    }

    .contact-form {
        padding: 10px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
    }
}

header ul li a:hover {
    color: #02824d; 
  transform: scale(1.5);
}